/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos específicos de los elementos */

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

input[type="text"],
select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

input[type="button"] {
  font-size: 16px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #0062cc;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
}

#imagenGato:hover {
  width: <?php echo rand(300, 600) ?>px;
  height: <?php echo rand(300, 600) ?>px;
}
